<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="jpaOauthApplicationApprovalManager" class="org.meruvian.yama.web.security.oauth.JpaOauthApplicationApprovalManager" autowire="byType" />
	<bean id="defaultCredentialsManager" class="org.meruvian.yama.web.DefaultCredentialsManager" autowire="byType" p:userDetailsService-ref="userService" />
</beans>
