<div class="row">
	<div class="col-md-3">
		<h3>
			{{ 'admin.role.header' | translate }}
			<br>
			<small translate="admin.role.subheader"></small>
		</h3>
		<br>

		<form ng-submit="ctrl.searchParams.page=1;ctrl.search();">
			<div class="form-group">
				<button type="button" class="btn btn-primary" ng-click="ctrl.openForm(ctrl.role)">
					<span class="fa fa-plus"></span> {{ 'admin.role.label.add' | translate }}
				</button>
			</div>
			<hr>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="ctrl.searchParams.q" placeholder="{{ 'admin.role.label.search' | translate }}..." autofocus>
			</div>
			<div class="form-group">
				<button type="submit" value="Search" class="btn btn-default">
					<span class="fa fa-search"></span> {{ 'admin.role.label.search' | translate }}
				</button>
			</div>
		</form>
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-12">
				<br>
				<div class="box">
					<div class="box-header">
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th translate="admin.role.label.name"></th>
										<th translate="admin.role.label.description"></th>
										<th translate="admin.role.label.action"></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="role in ctrl.roles">
										<td><a href="" ng-click="ctrl.openForm(role)"><span ng-bind="role.name"></a></span></td>
										<td ng-bind="role.description"></td>
										<td>
											<a href="" class="btn btn-danger btn-xs" ng-click="ctrl.remove(role)" title="{{ 'admin.role.label.delete' | translate }}">
												<span class="fa fa-trash"></span>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="box-footer">
						<div class="row">
							<div class="col-md-6">
								<pagination total-items="ctrl.roles.meta.totalElements" ng-model="ctrl.page" items-per-page="ctrl.roles.meta.size" ng-change="ctrl.search()"></pagination>
							</div>
							<div class="col-md-6">
								<div class="pagination alert pull-right" translate="admin.role.label.total_entries" translate-values="{total: ctrl.roles.meta.totalElements}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /.col -->
</div>
