<div class="row">
	<div class="col-md-6">
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">Basic</h3>
			</div>

			<div class="box-body">
				<form name="userForm" ng-submit="submit(user)" novalidate>
					<div class="modal-body">
						<fieldset>
							<div class="form-group">
								<label class="control-label" for="username">Username</label>
								<div class="controls">
									<input type="text" id="username" class="form-control" ng-model="user.username" required>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label" for="first-name">First Name</label>
										<div class="controls">
											<input type="text" id="first-name" class="form-control" ng-model="user.name.first" required>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label" for="last-name">Last Name</label>
										<div class="controls">
											<input type="text" id="last-name" class="form-control" ng-model="user.name.last">
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="email">Email</label>
								<div class="  controls">
									<input type="email" id="email" class="form-control" ng-model="user.email" required>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="modal-footer">
						<input type="submit" value="Save" class="btn btn-primary col-md-3 col-xs-12">
						<span class="label label-danger" ng-show="error">Ops something went wrong!</span>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-header">
						<h3 class="box-title">Profile Picture</h3>
					</div>

					<div class="box-body">
						<form id="profileImageForm" ng-submit="uploadPhoto">
							<fieldset>
								<div class="row" nv-file-drop nv-file-over uploader="uploader">
									<img ng-src="{{ currentUserPhoto }}" class="img-thumbnail col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2" alt="User Image">
								</div>

								<div class="form-group ">
									<label class="control-label" for="profile-picture"></label>
									<div class="controls">
										<div class="btn btn-default" ng-file-select ng-model="files">
											<i class="fa fa-paperclip"></i> Choose file...
										</div>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-header">
						<h3 class="box-title">Change Password</h3>
					</div>

					<div class="box-body">
						<form name="changePasswdForm" ng-submit="updatePassword(passwd)">
							<fieldset>
								<input type="hidden" name="edit" value="password" id="profile_edit">
								<div class="form-group ">
									<label class="control-label" for="password">Old Password</label>
									<div class="  controls">
										<input type="password" id="old-password" class="form-control" ng-model="passwd.old">
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group ">
											<label class="control-label" for="password">New Password</label>
											<div class="  controls">
												<input type="password" id="password" class="form-control" ng-model="passwd.newpass">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group ">
											<label class="  control-label" for="confirm-password">Confirm New Password</label>
											<div class="  controls">
												<input type="password" id="confirm-password" class="form-control" ng-model="passwd.confirm">
											</div>
										</div>
									</div>
								</div>

								<input type="submit" value="Update Password" class="btn btn-primary col-md-3">
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
