<header header="Users" />
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<button class="btn btn-primary col-md-1 col-xs-12" ng-click="openForm()">
					<span class="fa fa-plus"></span>
				</button>

				<form ng-submit="searchParams.page=1;search(searchParams);" class="pull-right col-md-6 col-xs-12">
					<fieldset>
						<div class="form-group col-md-10 col-xs-12">
							<input type="text" class="form-control" ng-model="searchParams.q" placeholder="Search..." autofocus>
						</div>
						<button type="submit" value="Search" class="btn btn-default col-md-2 col-xs-12">
							<span class="fa fa-search"></span>
						</button>
					</fieldset>
				</form>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header">
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Username</th>
										<th>Full Name</th>
										<th>Email</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="user in users">
										<td><a href="" ng-click="openForm(user)"><span ng-bind="user.username"></a></span></td>
										<td ng-bind="user.name.first + ' ' + user.name.last"></td>
										<td ng-bind="user.email"></td>
										<td>
											<a href="" class="btn btn-default btn-xs" ng-click="changePasswd(user)" title="Change Password">
												<span class="fa fa-key"></span>
											</a>
											<a href="" class="btn btn-danger btn-xs" ng-click="remove(user)" title="Delete {{ user.username }}">
												<span class="fa fa-trash"></span>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="box-footer">
						<div class="row">
							<div class="col-md-6">
								<pagination total-items="users.meta.totalElements" ng-model="page" items-per-page="users.meta.size" ng-change="search(searchParams)"></pagination>
							</div>
							<div class="col-md-6">
								<div class="pagination alert pull-right">Found <span ng-bind="users.meta.totalElements"></span> entries</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /.col -->
</div>

<script type="text/ng-template" id="userForm.html">
	<div class="modal-header">
		<h3 class="modal-title">Add User</h3>
	</div>
	<form name="userForm" ng-submit="submit(user)" novalidate>
		<div class="modal-body">
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="username">Username</label>
					<div class="controls">
						<input type="text" id="username" class="form-control" ng-model="user.username" required>
					</div>
				</div>
				<div class="row" ng-show="isNew">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label" for="password">Password</label>
							<div class="controls">
								<input type="password" id="password" class="form-control" ng-model="user.password" required>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label" for="confirm-password">Confirm Password</label>
							<div class="controls">
								<input type="password" id="confirm-password" class="form-control" ng-model="user.confirmPassword" required>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label" for="first-name">First Name</label>
							<div class="controls">
								<input type="text" id="first-name" class="form-control" ng-model="user.name.first" required>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label" for="last-name">Last Name</label>
							<div class="controls">
								<input type="text" id="last-name" class="form-control" ng-model="user.name.last">
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="email">Email</label>
					<div class="  controls">
						<input type="email" id="email" class="form-control" ng-model="user.email" required>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="modal-footer">
			<input type="submit" value="Save" class="btn btn-primary col-md-3 col-xs-12">
			<span class="label label-danger" ng-show="error">Ops something went wrong!</span>
		</div>
	</form>
</script>

<script type="text/ng-template" id="userChangePasswdForm.html">
	<div class="modal-header">
		<h3 class="modal-title">Change Password <small ng-bind="'(' + user.username + ')'"></small></h3>
	</div>
	<form name="userForm" ng-submit="submit(user)" novalidate>
		<div class="modal-body">
			<fieldset>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label" for="password">Password</label>
							<div class="controls">
								<input type="password" id="password" class="form-control" ng-model="user.password" required>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label" for="confirm-password">Confirm Password</label>
							<div class="controls">
								<input type="password" id="confirm-password" class="form-control" ng-model="confirmPassword" required>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="modal-footer">
			<input type="submit" value="Change Password" class="btn btn-primary col-md-3 col-xs-12">
			<span class="label label-danger" ng-show="error">Ops something went wrong!</span>
		</div>
	</form>
</script>
