<div class="modal-header">
	<h3 class="modal-title">Add User</h3>
</div>
<form name="userForm" ng-submit="ctrl.submit(user, userForm)" novalidate validation-schema schema="user" ng-init="user = ctrl.user">
	<div class="modal-body">
		<fieldset>
			<div class="form-group">
				<label class="control-label" for="username" translate="admin.user.label.username"></label>
				<div class="controls">
					<input type="text" id="username" name="username" class="form-control" ng-model="user.username" required>
				</div>
			</div>
			<div class="row" ng-show="!user.id">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" translate="admin.user.label.passwd"></label>
						<div class="controls">
							<input type="password" id="password" name="passwd" class="form-control" ng-model="user.password" required>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="confirm-password" translate="admin.user.label.confirm_passwd"></label>
						<div class="controls">
							<input type="password" id="confirm-password" name="confpasswd" class="form-control" ng-model="user.confirmPassword" required>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="first-name" translate="admin.user.label.firstname"></label>
						<div class="controls">
							<input type="text" id="first-name" name="firstname" class="form-control" ng-model="user.name.first" required>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="last-name" translate="admin.user.label.lastname"></label>
						<div class="controls">
							<input type="text" id="last-name" name="lastname" class="form-control" ng-model="user.name.last">
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" for="email" translate="admin.user.label.email"></label>
				<div class="controls">
					<input type="email" id="email" name="email" class="form-control" ng-model="user.email" required>
				</div>
			</div>
		</fieldset>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary col-md-3 col-xs-12">
			<i class="fa fa-save"></i> {{ 'admin.user.label.save' | translate }}
		</button>
		<span class="label label-danger" ng-show="ctrl.error">{{ 'admin.user.label.save_error' | translate }}</span>
	</div>
</form>
